.container {
  flex-direction: column;
  background-color: #f2f2f2;
  .header {
    flex: none;
    height: 173px;
    background-color: darkorange;
  }

  .mainBox {
    padding-top: 45px;
    padding-bottom: 175px;
    width: 1635px;
    justify-self: center;
    align-self: center;
    .sideMenu {
      flex: none;
      width: 282px;
      height: 100%;
    }

    .content {
    }
  }

  .footer {
    flex: none;
    height: 114px;
    background-color: #707070;
  }
}
