.container {
  height: 340px;
  width: 98%;
  border-radius: 13px;
  // font-size: 10px;
  // font-weight: 200;
  flex-direction: column;
  border: 1px solid #c4c4c4;
  margin-bottom: 10px;
  margin-top: 10px;
  .header {
    width: 100%;
    height: 26px;
    border-radius: 13px 13px 0 0;
    flex: none;
    background-color: #d3d3d3;
    font-weight: 400;
    align-items: center;
    padding-right: 17px;
    :first-child {
      margin-left: 10px;
    }
  }
  .body {
    background-color: #ffffff;
    border-radius: 0 0 13px 13px;
    flex-direction: column;
    padding: 17px;
    :last-child {
      border-bottom: none !important;
    }

    .section {
      flex-direction: column;
      background-color: #e6e6e6;
      border-radius: 7px;
      margin: 10px 0;
      padding: 15px ;

      hr {
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }

    .itemContainer {
      flex-direction: row;
      flex: none;
      justify-content: center;
      margin: 5px 0;
      align-items: center;
      font-size: 14px;

      .detailItem {
        .title {
          flex: none;
          overflow-wrap: anywhere;
          align-items: center;
          font-weight: 600;
          padding-right: 15px;
          padding-left: 5px;
        }

        .value {
          flex: none;
          margin-left: 3px;
          .importantDescription {
            font-weight: bold;
          }
        }
      }

      .detailAction {
        flex: none;
        button {
          margin: 0 7px;
          padding: 6px 15px;
          font-family: inherit;
          border: none;
          border-radius: 20px;
          color: #fff;
        }
        button:active {
          opacity: 0.3;
        }

        .success {
          background-color: #13bcd2;
          transition: all 100ms linear;
        }

        .success:hover {
          background-color: #03cee9;
          transition: all 200ms linear;
        }

        .danger {
          background-color: #db0060;
          transition: all 200ms linear;
        }
        .danger:hover {
          background-color: #ff006f;
          transition: all 200ms linear;
        }
      }
    }
  }
}
