.container {
  flex-direction: column;

  .tabContainer {
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 12px;
    justify-content: space-between;

    .magContainer {
      padding: 24px;
    }
  }
}
